
.App-Login {
  border: 0.2rem solid;
  border-radius: 2%;
  padding: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-delay{
  transition-delay: 1s;
  transition-property: background-color font-size transform color;
  transition-timing-function: ease-in-out;
}

.App-Login Button {
  margin-top: 1rem;
}

.App-Login-Group {
  margin-top: 1rem;
}

.weather-card {
  margin: 0;
  margin-top: 3em;
  padding: 0.8rem;
  border: 0.1rem solid;
  border-radius: 2%;
  
}

.weather-card p{
  margin: 0;
}

.weather-group {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.spinner {
  margin: 2em;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.nav-bar {
  background-color: lightblue;
  height: 4em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-bar Button{
  margin: 0.5em;
}

.nav-bar p{
  margin: 0.5em;
  font-size: 1.5em;
  color: antiquewhite;
}


.dashboard h1 {
  margin-left: 1em;
  margin-top: 1em;
}

.spinner-main{
  padding: 5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  justify-content:space-evenly;
  top: 50%;
}
